* {
    box-sizing: border-box;
}

body {
    background: url("../images/bg1.jpg");
    background-attachment: fixed;
    font-family: 'Coiny', cursive;
}

.container {
    background: #fff;
    padding: 0 25px 25px 25px;
    border-bottom: 6px solid #ff6700;
    border-left: 6px solid #ff6700;
    border-right: 6px solid #ff6700;
    min-height: 100vh;
}

.image-wrap {
    display: block;
    padding-top: 10px;
}

.button-row {
    margin-top: 8px;
}

.show-button,
.submit-button {
    background-color: #fff;
    border: 2px solid #ff6700;
    border-radius: 35px;
    font-size: 16px;
    box-shadow: 2px 2px 1px #d3d3d3;
    margin: 5px;
    padding: 2px 7px;
}

.submit-button {
    margin-top: 10px;
}

.show-button:hover,
.submit-button:hover {
    background-color: #ff6700;
    border: 2px solid #00B901;
    color: white;
}

.gif-images {
    width: 100%;
    z-index: 1;
}

.overlay {
    background-color: #ff6700; 
}

.card {
    border: 0;
    float: left;
    height: auto;
    min-height: 250px;
    width: 33%;
    padding: 0 5px;
    margin-top: 15px;
}

p {
    margin-bottom: 3px;
    margin-left: 0;
}

.gifImage {
    width: 100%;
    border: 2px solid #ff6700;
}

#input-area {
    margin-top: 10px;
}

#user-input {
    border: 2px solid #00B901;
    background-color: #00B901;
    color: #fff;
    border-radius: 35px;
    width: 100%;
    padding: 2px 2px 2px 8px;
}

#submit-button {
    margin-left: 0;
}

@media screen and (max-width: 1199px) {
    .card {
        width: 50%;
        height: auto;
        min-height: 300px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 100%;
    }
}